# elisp ignore
.emacs.d/multisession
.emacs.d/url
.emacs.d/elpa
.lsp-session-v1
.org-id-locations
etc
var
phsu-secrets.el
auto-save-list
bookmarks
eln-cache
history
org-roam.db
projects
tramp
transient
tree-sitter
